<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>446406693977-ki46rf0c0has3euj4eqnl534qt08vf5a.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.446406693977-ki46rf0c0has3euj4eqnl534qt08vf5a</string>
	<key>API_KEY</key>
	<string>AIzaSyDgAsPp3jzMVuk0QhFz3Su21J5HGhbAmqY</string>
	<key>GCM_SENDER_ID</key>
	<string>446406693977</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>dev.akoshak.finpal</string>
	<key>PROJECT_ID</key>
	<string>finpal-5d6e8</string>
	<key>STORAGE_BUCKET</key>
	<string>finpal-5d6e8.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:446406693977:ios:d25e182f6c59ebf9880d48</string>
</dict>
</plist>